<div class='card'>
	<div class='card-left text-center bg-dark' ng-class='{
			"bg-info": vm.box.is_active,
			"bg-muted": !vm.box.is_active
		}'>
		<h5><span class='glyphicon glyphicon-gift' /></h5>
	</div>
	<div class='card-body'>
		<h4><a ui-sref='box.submit({ bId: vm.box.id })'>{{vm.box.id}}</a></h4>
		<p class='text-muted'>
			{{vm.box.tests.length}} tests
			<span ng-if='vm.box.is_active && vm.box.closes_at'>
				|
				<span class='text-danger'>closes at {{vm.box.closes_at | date : "short"}}</span>
			</span>
			<span ng-if='!vm.box.is_active'>
				|
				<span class='text-danger'>box closed</span>
			</span>
		</p>
	</div>
</div>
