<div>
	<div class='card'>
		<div class='card-left text-center bg-dark bg-danger' ng-if='!vm.test.is_passed'>
			<h4><span class='glyphicon glyphicon-thumbs-down' /></h4>
		</div>
		<div class='card-left text-center bg-dark bg-success' ng-if='vm.test.is_passed'>
			<h4><span class='glyphicon glyphicon-thumbs-up' /></h4>
		</div>
		<div class='card-body'>
			<h3>
				<a data-toggle='collapse' data-target='#test_{{vm.test.test_name}}' href='#' ng-class='{"text-danger": !vm.test.is_passed, "text-success": vm.test.is_passed}'>
					{{vm.test.test_name}}
				</a>
			</h3>
			<div class='collapse' id='test_{{vm.test.test_name}}' ng-class='{in: !vm.test.is_passed}'>
				<p ng-if='!vm.test.is_passed' class='text-danger'>
					<b>{{ 'YOU_FAILED' | translate }}</b>
				</p>
				<p ng-if='vm.test.is_passed' class='text-success'>
					<b>{{ 'YOU_PASSED' | translate }}</b>
				</p>
				<div ng-if='vm.test.err'>
					<b class='text-capitalize'>{{ 'ERROR' | translate }}</b>
					<pre><code>{{vm.test.err}}</code></pre>
				</div>
				<div ng-if='vm.test.out && !vm.test.diff'>
					<b>{{ 'YOUR_OUTPUT' | translate }}</b>
					<pre><code>{{vm.test.out}}</code></pre>
				</div>
				<div ng-if='vm.test.diff'>
					<test-diff diff-id='test_diff_{{vm.test.test_name}}' diff-string='{{vm.test.diff}}'/>
				</div>
			</div>
		</div>
	</div>
</div>
