<div>
	<div class='container' ng-if='!vm.box'>
		<panel-404 />
	</div>
	<div class='container-fluid' ng-if='vm.box'>
		<div class='col-xs-6 nogutter'>
			<h3>
				{{vm.box.title}}
				<small ng-if='vm.box.title != vm.box.id'>{{vm.box.id}}</small>
			</h3>
		</div>
		<div class='col-xs-6 nogutter text-right'>
			<span class='text-muted'>
				<span class='glyphicon glyphicon-eye-open' />&nbsp;&nbsp;
				{{vm.box.public_tests}} public tests
			</span>
			<span class='text-muted'>
				<br>
				<span class='glyphicon glyphicon-eye-close' />&nbsp;&nbsp;
				{{vm.box.private_tests}} private tests
			</span>
			<span ng-if='vm.box.is_active && vm.box.closes_at'>
				<br>
				<span class='text-danger'>
					closes on {{vm.box.closes_at | date:'mediumDate'}}
					at {{vm.box.closes_at | date:'shortTime'}}
				</span>
			</span>
			<span ng-if='!vm.box.is_active'>
				<br>
				<span class='text-danger'><b>BOX CLOSED</b></span>
			</span>
		</div>
		<div class='col-xs-12 nogutter'>
			<br>
			<ul class='nav nav-pills'>
				<li ui-sref-active='active'>
					<a ui-sref='box.submit({ bid: vm.box.id })'>
						<span class='glyphicon glyphicon-cloud-upload' />&nbsp;&nbsp;
						Check & Submit
					</a>
				</li>
				<li ui-sref-active='active'>
					<a ui-sref='box.tests({ bid: vm.box.id })'>
						<span class='glyphicon glyphicon-eye-open' />&nbsp;&nbsp;
						Tests
					</a>
				</li>
				<li ui-sref-active='active' ng-if='session'>
					<a ui-sref='box.submissions({ bid: vm.box._id })'>
						<span class='glyphicon glyphicon-list' />&nbsp;&nbsp;
						Submissions
					</a>
				</li>
			</ul>
			<hr/>
		</div>
		<div class='col-xs-12 nogutter'>
			<ui-view />
		</div>
	</div>
</div>
