<div>
	<div class='container' ng-if='!vm.box'>
		<panel-404 />
	</div>
	<div class='container-fluid' ng-if='vm.box'>
		<div class='col-xs-12 col-sm-3 col-lg-2'>
			<h3>
				{{vm.box.title}}<br>
				<small>{{vm.box.id}}</small>
			</h3>
			<span class='text-muted'>
				<span class='glyphicon glyphicon-eye-open' />&nbsp;&nbsp;
				{{vm.box.tests.length}} tests
			</span>
			<span ng-if='vm.box.is_active && vm.box.closes_at'>
				<br><br>
				<span class='text-danger'>
					closes on {{vm.box.closes_at | date:'mediumDate'}}
					<br>
					at {{vm.box.closes_at | date:'shortTime'}}
				</span>
			</span>
			<span ng-if='!vm.box.is_active'>
				<br><br>
				<span class='text-danger'><b>BOX CLOSED</b></span>
			</span>
			<br>
			<br>
			<ul class='nav nav-pills nav-stacked'>
				<li ui-sref-active='active'>
					<a ui-sref='box.submit({ bid: vm.box.id })'>
						<span class='glyphicon glyphicon-cloud-upload' />&nbsp;&nbsp;
						Check & Submit
					</a>
				</li>
				<li ui-sref-active='active' ng-if='session'>
					<a ui-sref='box.submissions({ bid: vm.box._id })'>
						<span class='glyphicon glyphicon-list' />&nbsp;&nbsp;
						Submissions
					</a>
				</li>
			</ul>
		</div>
		<div class='col-xs-12 col-sm-9 col-lg-10'>
			<ui-view />
		</div>
	</div>
</div>
