<div>
	<div class='container' ng-if='!vm.box'>
		<panel-404 />
	</div>
	<div class='container-fluid' ng-if='vm.box'>
		<div class='col-xs-6 nogutter'>
			<h3>
				{{vm.box.title}}
				<small ng-if='vm.box.title != vm.box.id'>{{vm.box.id}}</small>
			</h3>
		</div>
		<div class='col-xs-6 nogutter text-right'>
			<span class='text-muted'>
				<span class='glyphicon glyphicon-eye-open' />&nbsp;&nbsp;
				{{vm.box.public_tests}} {{ 'PUBLIC_TESTS' | translate }}
			</span>
			<span class='text-muted'>
				<br>
				<span class='glyphicon glyphicon-eye-close' />&nbsp;&nbsp;
				{{vm.box.private_tests}} {{ 'PRIVATE_TESTS' | translate }}
			</span>
			<span ng-if='vm.box.is_active && vm.box.closes_at'>
				<br>
				<span class='text-danger'>
					{{ 'CLOSES_AT' | translate }} {{vm.box.closes_at | date:'short'}}
				</span>
			</span>
			<span ng-if='!vm.box.is_active'>
				<br>
				<b class='text-danger'>{{ 'BOX_CLOSED' | translate }}</b>
			</span>
		</div>
		<div class='col-xs-12 nogutter'>
			<br>
			<ul class='nav nav-pills'>
				<li ui-sref-active='active'>
					<a ui-sref='root.box.submit({ bid: vm.box.id })' class='text-capitalize'>
						<span class='glyphicon glyphicon-cloud-upload' />&nbsp;&nbsp;
						{{ 'CHECK_AND_SUBMIT' | translate }}
					</a>
				</li>
				<li ui-sref-active='active'>
					<a ui-sref='root.box.tests({ bid: vm.box.id })' class='text-capitalize'>
						<span class='glyphicon glyphicon-eye-open' />&nbsp;&nbsp;
						{{ 'PUBLIC_TESTS' | translate }}
					</a>
				</li>
				<li ui-sref-active='active' ng-if='vm.session' class='text-capitalize'>
					<a ui-sref='root.box.submissions({ bid: vm.box._id })'>
						<span class='glyphicon glyphicon-list' />&nbsp;&nbsp;
						{{ 'SUBMISSIONS' | translate }}
					</a>
				</li>
			</ul>
			<hr/>
		</div>
		<div class='col-xs-12 nogutter'>
			<ui-view />
		</div>
	</div>
</div>
