<div class='container'>
	<h1>{{ 'WELCOME' | translate }}</h1>
	<br>

	<p>{{ 'SEARCH_BOX' | translate }}</p>
	<form ng-submit='vm.search()'>
		<div class='input-group'>
			<input id='search' type='text' class='form-control' ng-model='vm.searchString'
				placeholder='{{ "SEARCH_BY" | translate }}'>
			<span class='input-group-btn'>
				<button class='btn btn-primary' type='submit'>
					<span class='glyphicon glyphicon-search' />
				</button>
			</span>
		</div>
	</form>
	<br>
	<div ng-if='vm.boxes && vm.boxes.length == 0'>
		<p class='text-warning'><i>{{ 'SEARCH_NO_RESULTS' | translate }}</i></p>
	</div>
	<div ng-if='vm.boxes && vm.boxes.length > 0'>
		<box-list boxes='vm.boxes' />
	</div>
</div>
