<ul class='nav navbar-nav navbar-right'>
	<li class='dropdown'>
		<a class='btn btn-link dropdown-toggle' type='button' data-toggle='dropdown'>
			<img class='flag' ng-src='/langs/lang-{{vm.currentLang}}.png' />
		</a>
		<ul class='dropdown-menu dropdown-menu-right'>
			<li>
				<a ng-click='vm.select("en")'>
					<img class='flag' ng-src='/langs/lang-en.png' />
					&nbsp;&nbsp;English
				</a>
			</li>
			<li>
				<a ng-click='vm.select("fr")'>
					<img class='flag' ng-src='/langs/lang-fr.png' />
					&nbsp;&nbsp;Français
				</a>
			</li>
		</ul>
	</li>
</ul>
