<div>
	<h3>
	<h3>{{ 'MY_SUBMISSIONS' | translate }}
		<small>{{vm.submissions.length}} {{ 'SUBMISSIONS' | translate }}</small>
	</h3>
	<ul ng-if='vm.submissions && vm.submissions.length > 0'>
		<li ng-repeat='sub in vm.submissions'>
			{{ 'BOX' | translate }}
			<a ui-sref='root.box.submission({bId: sub.box_id, sId: sub.id})'>{{sub.box_id}}</a>
			@
			{{sub.timestamp | date:'longDate'}} {{sub.timestamp | date:'mediumTime'}}
			<span ng-if='sub.is_approuved'>({{ 'APPROUVED' | translate }})</span>
		</li>
	</ul>

	<div ng-if='!vm.submissions || vm.submissions.length == 0'>
		<p>{{ 'NOTHING_TO_SHOW' | translate }}</p>
	</div>
</div>
