<div>
	<div ng-if='vm.box.readme'>
		<div ng-bind-html='vm.box.readme' />
		<hr>
		<br>
	</div>

	<div class='container' ng-if='!vm.session'>
		<panel-403 />
	</div>

	<div ng-if='vm.session && vm.submission.files'>
		<h4>1 - {{ 'WRITE_THE_CODE' | translate }}</h4>
		<div class='card card-code'>
			<code-editor files='vm.submission.files' />
		</div>
		<br>
	</div>

	<div id='submit' ng-if='vm.session'>
		<div class='card'>
			<div class='card-left bg-dark bg-primary text-center'>
				<span class='glyphicon glyphicon-check' />
			</div>
			<div class='card-body'>
				<h4>2 - {{ 'TRY_YOUR_WORK' | translate }}</h4>
				<p>
					{{ 'TESTED_AGAINST' | translate }}
					<b>{{vm.box.public_tests}}</b> {{ 'PUBLIC_TESTS' | translate }}
				</p>
				<br>
				<p class='text-center'>
					<button class='btn btn-success btn-lg' ng-click='vm.checkSubmission()'>
						<span class='glyphicon glyphicon-check' /> {{ 'CHECK_MY_WORK' | translate }}
					</button>
				</p>
			</div>
		</div>
		<br>
	</div>

	<div class='card' ng-if='vm.submission.status.is_runned'>
		<div class='card-body bg-dark text-center' ng-class='{
				 "bg-danger": !vm.submission.status.is_passed,
				 "bg-success": vm.submission.status.is_passed
			}'>
			<h1 ng-if='!vm.submission.status.is_passed'>
				<b>{{ 'ERROR' | translate }}</b>
				<br/><br/>
				<span class='glyphicon glyphicon-remove' />
				<br/><br/>
			</h1>
			<h1 ng-if='vm.submission.status.is_passed'>
				<b>{{ 'SUCCESS' | translate }}</b>
				<br/><br/>
				<span class='glyphicon glyphicon-ok' />
				<br/><br/>
			</h1>
			<p class='lead'>
				{{vm.submission.status.tests_passed}} / {{vm.box.public_tests}}
				{{ 'TESTS_PASSED' | translate }}
			</p>
		</div>
	</div>

	<div ng-if='vm.submission.status.is_runned'>
		<test-panel ng-repeat='result in vm.submission.status.tests_results' test='result' />
		<br>
	</div>

	<div ng-if='vm.session && vm.box.is_active'>
		<div class='card'>
			<form ng-submit='vm.sendSubmission()'>
				<div class='card-left bg-dark bg-primary text-center'>
					<span class='glyphicon glyphicon-cloud-upload' />
				</div>
				<div class='card-body'>
					<h4>3 - {{ 'SEND_YOUR_WORK' | translate }}</h4>
					<p>{{ 'DEPOSED_AS' | translate }} <b>{{vm.session.id}}</b>.</p>
					<div class='form-inline'>
						<div class='form-group' ng-class='{"has-error": vm.submitErrors.teammate}'>
							<label for='teammate'>{{ 'ADD_TEAMMATE' | translate }}</label>
							<input type='text' class='form-control' id='teammate' placeholder='CODE12345678' ng-model='vm.submission.teammate'>
							<span class='help-block' ng-if='vm.submitErrors.teammate'>
								{{ 'TEAMMATE_ERROR' | translate }}
							</span>
						</div>
					</div>
					<br>
					<div ng-if='!vm.submission.status.is_runned' class='text-danger'>
						<p>{{ 'WARN_UNCHECKED' | translate }}</p>
					</div>
					<div ng-if='!vm.submission.status.is_passed' class='text-danger'>
						<p>{{ 'WARN_FAILURE' | translate }}</p>
					</div>
					<div ng-if='vm.submission.is_approuved' class='text-warning'>
						<p>{{ 'WARN_LAST' | translate }}</p>
					</div>
					<br>
					<p class='text-center'>
						<button class='btn btn-success btn-lg' type='submit'>
							<span class='glyphicon glyphicon-check' />
							{{ 'SEND_MY_WORK' | translate }}
						</button>
					</p>
				</div>
			</form>
		</div>
	</div>

	<!-- modals -->

	<div class='modal fade' id='pendingModal' tabindex='-1'>
		<div class='modal-dialog'>
			<div class='modal-content bg-dark bg-warning'>
				<div class='modal-body text-center'>
					<h1>{{ 'PENDING' | translate }}</h1>
					<br>
					<br>
					<h1><span class='glyphicon glyphicon-refresh rotate' /></h1>
					<br>
					<br>
					<p class='lead'>{{ 'TESTING_YOUR_SUBMISSION' | translate }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class='modal fade' id='warningModal' tabindex='-1'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'>
						<span>&times;</span>
					</button>
				</div>
				<div class='modal-body text-center'>
					<h1 class='text-danger' ng-if='!vm.submission.status.is_runned'>
						{{ 'NOTRUNNED' | translate }}
					</h1>
					<h1 class='text-danger' ng-if='vm.submission.status.is_runned && !vm.submission.status.is_passed'>
						{{ 'WARNING' | translate }}
					</h1>
					<br>
					<br>
					<h1><span class='text-danger glyphicon glyphicon-alert' /></h1>
					<br>
					<br>
					<p class='lead' ng-if='!vm.submission.status.is_runned'>
						{{ 'WARN_UNCHECKED' | translate }}<br>
						{{ 'ARE_YOU_SURE' | translate }}
					</p>
					<p class='lead' ng-if='vm.submission.status.is_runned && !vm.submission.status.is_passed'>
						{{ 'WARN_FAILURE' | translate }}<br>
						{{ 'ARE_YOU_SURE' | translate }}
					</p>
				</div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default' data-dismiss='modal'>
						{{ 'CANCEL' | translate }}
					</button>
					<button type='button' class='btn btn-danger' ng-click='vm.postSubmission()'>
						{{ 'SEND_ANYWAY' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class='modal fade' id='submitModal' tabindex='-1'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'>
						<span>&times;</span>
					</button>
				</div>
				<div class='modal-body'>
					<div class='card'>
						<div class='card-body bg-dark bg-success text-center'>
							<span/>
							<h1>
								<b>{{ 'SUCCESS' | translate }}</b>
								<br/><br/>
								<span class='glyphicon glyphicon-ok' />
								<br/><br/>
							</h1>
							<p class='lead'>{{ 'WORK_SENT' | translate }}</p>
						</div>
					</div>

					<dl class='dl-horizontal'>
						<dt>ID</dt>
						<dd>{{vm.submission.id}}</dd>
						<dt>{{ 'USER' | translate }}</dt>
						<dd>{{vm.submission.user}}</dd>
						<dt>{{ 'TEAMMATE' | translate }}</dt>
						<dd>{{vm.submission.teammate}}</dd>
						<dt>{{ 'TIMESTAMP' | translate }}</dt>
						<dd>{{vm.submission.timestamp | date:'short'}}</dd>
					</dl>
				</div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default' data-dismiss='modal'>
						{{ 'CLOSE' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
